
<!-- <div class="container">
    <h3>Tooltip Example</h3>
    <p>The data-placement attribute specifies the tooltip position.</p>
    <a href="#" data-toggle="tooltip" data-placement="top" title="Hooray!">Top</a>
    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Hooray!">Bottom</a>
    <a href="#" data-toggle="tooltip" data-placement="left" title="Hooray!">Left</a>
    <a href="#" data-toggle="tooltip" data-placement="right" title="Hooray playing right sidegteretertreyeyeyyeyyyyyyyy! grytryry rhty ryt trtj ">Right</a>
  </div> -->
<div class="main">
  <!-- <app-main-route></app-main-route> -->
  <app-user-profile></app-user-profile>
</div>
