<div class="row">
    <div class="col-12">
        <div class="bs-example">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="row">
                    <div class="carousel-item active col-12">
                        <img src="assets/images/chicago.jpg" style="width: 100% ; height: fit-content"
                            alt="First Slide">
                    </div>
                    <div class="carousel-item  col-12">
                        <img src="assets/images/ny.jpg" style="width: 100%; height:fit-content" alt="Second Slide">
                    </div>
                    <div class="carousel-item  col-12">
                        <img src="assets/images/ny1.jpg" style="width: 100%; height:fit-content" alt="Third Slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="text-center pt-3">
            <img src="assets/images/ravi.jpg"
                style="height: 20em;/* width: 100%; */width: 20em;border-radius: 50%;/* height: fit-content; */"
                alt="First Slide">
        </div>
    </div>
    <div class="col-12 container p-4">
        <div class="container">
                <p>Observables are on the rise. Angular 2 includes them as default async type,
                        you can use them as middleware for your React-Redux app and there is even a
                        proposal to add them to JavaScript itself. But why and when should you use them?
                        This article goes in depth into what are the biggest differences between these two
                        async types. Having such knowledge should help you make informed decisions about
                        when and why use them both. Even if at the end you decide that Observables are
                        not for you, hopefully you will still gain some additional knowledge about good old Promises.
                    </p>
                    <p>
                        Note that this article describes how Observables work in RxJS and in mentioned tc39 proposal.
                        Results with other reactive programming libraries may vary.
                    </p>
                    <p>
                        Note that this article describes how Observables work in RxJS and in mentioned tc39 proposal.
                        Results with other reactive programming libraries may vary.
                    </p>
                    <p>Observables are on the rise. Angular 2 includes them as default async type,
                        you can use them as middleware for your React-Redux app and there is even a
                        proposal to add them to JavaScript itself. But why and when should you use them?
                        This article goes in depth into what are the biggest differences between these two
                        async types. Having such knowledge should help you make informed decisions about
                        when and why use them both. Even if at the end you decide that Observables are
                        not for you, hopefully you will still gain some additional knowledge about good old Promises.
                    </p>
        
        </div>

        </div>

    <!-- <div class="col-12">
        <div class="pl-3 pr-5 pt-5">
            <div class="row">
                <div class="col-3">
                    <div class="container">
                        <img src="assets/images/ravi.jpg"
                            style="height: 20em;/* width: 100%; */width: 20em;border-radius: 50%;/* height: fit-content; */"
                            alt="First Slide">
                    </div>
                </div>

                <div class="col-9 p -5">
                    <p>Observables are on the rise. Angular 2 includes them as default async type,
                        you can use them as middleware for your React-Redux app and there is even a
                        proposal to add them to JavaScript itself. But why and when should you use them?
                        This article goes in depth into what are the biggest differences between these two
                        async types. Having such knowledge should help you make informed decisions about
                        when and why use them both. Even if at the end you decide that Observables are
                        not for you, hopefully you will still gain some additional knowledge about good old Promises.
                    </p>
                    <p>
                        Note that this article describes how Observables work in RxJS and in mentioned tc39 proposal.
                        Results with other reactive programming libraries may vary.
                    </p>
                    <p>
                        Note that this article describes how Observables work in RxJS and in mentioned tc39 proposal.
                        Results with other reactive programming libraries may vary.
                    </p>
                    <p>Observables are on the rise. Angular 2 includes them as default async type,
                        you can use them as middleware for your React-Redux app and there is even a
                        proposal to add them to JavaScript itself. But why and when should you use them?
                        This article goes in depth into what are the biggest differences between these two
                        async types. Having such knowledge should help you make informed decisions about
                        when and why use them both. Even if at the end you decide that Observables are
                        not for you, hopefully you will still gain some additional knowledge about good old Promises.
                    </p>

                </div>



            </div>
        </div>

    </div> -->
    <!-- <div class="col-12">
        <div class="pl-3 pr-5 pt-5">
            <div class="row">
                <div class="col-3">
                    <div class="container">
                        <img src="assets/images/ravi.jpg"
                            style="height: 20em;/* width: 100%; */width: 20em;border-radius: 50%;/* height: fit-content; */"
                            alt="First Slide">
                    </div>
                </div>

                <div class="col-9 p -5">
                    <p>Observables are on the rise. Angular 2 includes them as default async type,
                        you can use them as middleware for your React-Redux app and there is even a
                        proposal to add them to JavaScript itself. But why and when should you use them?
                        This article goes in depth into what are the biggest differences between these two
                        async types. Having such knowledge should help you make informed decisions about
                        when and why use them both. Even if at the end you decide that Observables are
                        not for you, hopefully you will still gain some additional knowledge about good old Promises.
                    </p>
                    <p>
                        Note that this article describes how Observables work in RxJS and in mentioned tc39 proposal.
                        Results with other reactive programming libraries may vary.
                    </p>
                    <p>
                        Note that this article describes how Observables work in RxJS and in mentioned tc39 proposal.
                        Results with other reactive programming libraries may vary.
                    </p>
                    <p>Observables are on the rise. Angular 2 includes them as default async type,
                        you can use them as middleware for your React-Redux app and there is even a
                        proposal to add them to JavaScript itself. But why and when should you use them?
                        This article goes in depth into what are the biggest differences between these two
                        async types. Having such knowledge should help you make informed decisions about
                        when and why use them both. Even if at the end you decide that Observables are
                        not for you, hopefully you will still gain some additional knowledge about good old Promises.
                    </p>

                </div>



            </div>
        </div>

    </div>
    <div class="col-12">
        <div class="pl-3 pr-5 pt-5">
            <div class="row">
                <div class="col-3">
                    <div class="container">
                        <img src="assets/images/ravi.jpg"
                            style="height: 20em;/* width: 100%; */width: 20em;border-radius: 50%;/* height: fit-content; */"
                            alt="First Slide">
                    </div>
                </div>

                <div class="col-9 p -5">
                    <p>Observables are on the rise. Angular 2 includes them as default async type,
                        you can use them as middleware for your React-Redux app and there is even a
                        proposal to add them to JavaScript itself. But why and when should you use them?
                        This article goes in depth into what are the biggest differences between these two
                        async types. Having such knowledge should help you make informed decisions about
                        when and why use them both. Even if at the end you decide that Observables are
                        not for you, hopefully you will still gain some additional knowledge about good old Promises.
                    </p>
                    <p>
                        Note that this article describes how Observables work in RxJS and in mentioned tc39 proposal.
                        Results with other reactive programming libraries may vary.
                    </p>
                    <p>
                        Note that this article describes how Observables work in RxJS and in mentioned tc39 proposal.
                        Results with other reactive programming libraries may vary.
                    </p>
                    <p>Observables are on the rise. Angular 2 includes them as default async type,
                        you can use them as middleware for your React-Redux app and there is even a
                        proposal to add them to JavaScript itself. But why and when should you use them?
                        This article goes in depth into what are the biggest differences between these two
                        async types. Having such knowledge should help you make informed decisions about
                        when and why use them both. Even if at the end you decide that Observables are
                        not for you, hopefully you will still gain some additional knowledge about good old Promises.
                    </p>

                </div>



            </div>
        </div>

    </div> -->

</div>