.w3-teal{
    background-color: #333333 !important;
}
.w3-sidebar{
    background-color: #333333 !important; 
}
.w3-bar-item{
    background-color: #333333 !important; 
}
.w3-button:hover{
 color: white !important;
}
